<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="MigraineConnectionString" connectionString="Data Source=NOCTEM-PORTABLE\SQLEXPRESS;Initial Catalog=Migraine;Integrated Security=False;Persist Security Info=False;User ID=Middleware;Password=admin" providerName="System.Data.SqlClient" />-->
    <!--<add name="MigraineConnectionString1" connectionString="Data Source=NOCTEM-PORTABLE\SQLEXPRESS;Initial Catalog=Migraine;Persist Security Info=True;User ID=Middleware;Password=admin" providerName="System.Data.SqlClient" />-->
    <add name="MigraineConnectionString2" connectionString="Data Source=NOCTEM-PORTABLE\SQLEXPRESS;Initial Catalog=Migraine;Persist Security Info=True;User ID=Middleware;Password=admin;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="MigraineEntities" connectionString="metadata=res://*/DAO.Model1.csdl|res://*/DAO.Model1.ssdl|res://*/DAO.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NOCTEM-PORTABLE\SQLEXPRESS;initial catalog=Migraine;persist security info=True;user id=Middleware;password=admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="MigraineEntities1" connectionString="metadata=res://*/DAO.EntitySql.csdl|res://*/DAO.EntitySql.ssdl|res://*/DAO.EntitySql.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NOCTEM-PORTABLE\SQLEXPRESS;initial catalog=Migraine;persist security info=True;user id=Middleware;password=admin;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MetadataBehavior" name="MigraineCSMiddleware.Service1">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:57928/"/>
          </baseAddresses>
        </host>
        <!--<endpoint address="Soap" binding="basicHttpBinding" bindingConfiguration="" name="REST" contract="MigraineCSMiddleware.IService1" />-->
        <endpoint address="Soap" binding="basicHttpBinding"   behaviorConfiguration=""              bindingConfiguration="soapBinding" contract="MigraineCSMiddleware.IService1"/>
        <!--<endpoint behaviorConfiguration="RestBehavior" binding="webHttpBinding" bindingConfiguration="" name="REST" contract="MigraineCSMiddleware.IService1" />-->
        <endpoint                binding="webHttpBinding"     behaviorConfiguration="RestBehavior"  bindingConfiguration=""      contract="MigraineCSMiddleware.IService1"/>
        <!--<endpoint address="json" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="MigraineCSMiddleware.IService1" bindingConfiguration=""/>-->
        <endpoint address="json" binding="webHttpBinding"     behaviorConfiguration="jsonBehavior"  bindingConfiguration="jsonBinding" contract="MigraineCSMiddleware.IService1"/>
      </service>
    </services>

    <bindings>
      
      <basicHttpBinding>
        <binding name="soapBinding">
          <security mode="None">
          </security>
        </binding>
      </basicHttpBinding>
      <!--<webHttpBinding>
        <binding name="restBinding">
          <security mode="None">
          </security>
        </binding>
      </webHttpBinding>-->
      <webHttpBinding>
        <binding name="jsonBinding">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        
        <behavior name="RestBehavior">
          <webHttp />
        </behavior>

        <!--<behavior name="soapBehavior">
          <webHttp />
        </behavior>-->
        
        <behavior name="jsonBehavior">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
        
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MetadataBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization serviceAuthorizationManagerType="MigraineCSMiddleware.RestAuthorizationManager, MigraineCSMiddleware" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="webHttpBinding" scheme="http" />
      <add binding="basicHttpsBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Pour parcourir le répertoire racine de l'application Web lors du débogage, définissez la valeur ci-dessous sur true.
        Définissez-la sur false avant le déploiement pour ne pas divulguer d'informations du dossier de l'application Web.
      -->
    <directoryBrowse enabled="true" />
    <staticContent>
      <mimeMap fileExtension=".svc" mimeType="application/octet-stream" />
    </staticContent>
    <handlers>
      <add name="svc-integrated" path="*.svc" verb="*" type="System.ServiceModel.Activation.HttpHandler" resourceType="File" preCondition="integratedMode" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Origin" value="http://localhost:4200" />
        <add name="Access-Control-Allow-Methods" value="GET,HEAD,PUT,PATCH,POST,DELETE,OPTIONS"/>
        <add name="Access-Control-Allow-Headers" value="content-type" />
        <!--<add name="Access-Control-Request-Method" value="GET,HEAD,PUT,PATCH,POST,DELETE,OPTIONS"/>-->
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>